<!-- Set Alerts Modal -->
<div class="modal fade" id="setAlertsModal" tabindex="-1" role="dialog" aria-labelledby="setAlertsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="setAlertsModalLabel">Set Price Alerts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="alertForm">
          <!-- Dynamic coin list will be populated here -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="sticky-save-button">
          <button type="button" class="btn btn-primary" id="saveAlertsButton">Save Alerts</button>
        </div>
      </div>
    </div>
  </div>
</div>