<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>

    <!-- Custom Styles (link to the updated CSS) -->
    <link rel="stylesheet" href="/static/css/login_register.css">
</head>

<body>
    <div class="modern-container-centered">
        <div class="modern-container">
            <div class="modern-card-body">
                <h1 class="modern-card-title text-center text-success">Email Successfully Confirmed!</h1>
                <p class="modern-card-text text-center">Thank you for confirming your email address. You can now log in to your account.</p>
                <div class="text-center">
                    <a href="{{ url_for('login_api.login') }}" class="btn modern-btn-primary btn-lg w-100">Go to Login</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
