<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Crypto Portfolio - Home{% endblock %}

{% block content %}

{% block modals %}
    {{ super() }}
    {% include 'modals/add_asset_modal.html' %}
    {% include 'modals/edit_asset_modal.html' %}
    {% include 'modals/set_alerts_modal.html' %}
    {% include 'modals/edit_alerts_modal.html' %}
{% endblock %}

<!-- Jumbotron Section -->
<div class="jumbotron text-center mb-4">
  <div class="container">
    <h1 class="display-4">Track Your Crypto Success in Real-Time</h1>
    <p>Get insights on your owned assets, explore top cryptocurrencies, and find outliers in the market.</p>
    <hr class="my-4">


    <!-- Portfolio Value Display -->
    <section class="portfolio-value-section mb-4">
      <h2 class="header-title">Portfolio Value</h2>
      <div class="portfolio-value">
        <span id="portfolio-value" class="value">${{ total_portfolio_value }}</span>
        <span id="percentage-change" class="change {{ 'positive' if percentage_change > 0 else 'negative' }}" data-toggle="tooltip" data-placement="top" title="At least two days worth of data is needed to obtain percentage change.">
          {{ formatted_percentage_change }}
        </span>
      </div>
    </section>

    <!-- Total Investment Section -->
    <section class="total-investment-section mb-4">
      <h3>Your Total Investment</h3>
      <p class="investment-amount" data-toggle="tooltip" data-placement="top" title="See README on providing transactions CSV file">{{ total_investment }} EUR</p>
    </section>

    <!-- Return on Investment Section -->
    <section class="roi-section">
      <h3 data-toggle="tooltip" data-placement="top" title="Your investment's return percentage compared to the initial amount invested.">
        Your Nominal Return on Investment
      </h3>
      <p class="roi-value {{ 'positive' if nominal_roi > 0 else 'negative' }}">Nominal ROI: {{ formatted_nominal_roi }}</p>
    </section>

    <!-- Gainers and Losers Section -->
    <section class="gainers-losers-section mb-4">
      <div class="container">
        <div class="row">
          {% for type, coins in {'Top Gainers': gainers, 'Top Losers': losers}.items() %}
          <div class="col-md-6">
            <h3 class="text-{{ 'success' if type == 'Top Gainers' else 'danger' }} mb-3">{{ type }}</h3>
            <ul class="list-group">
              {% for coin in coins[:3] %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="coin-info d-flex w-100">
                  <div class="text-info">
                    <span class="coin-name">{{ coin['name'] }}</span>
                    <span class="secondary-text">({{ coin['symbol'] | upper }})</span>
                  </div>
                  <span class="badge badge-{{ 'success' if type == 'Top Gainers' else 'danger' }} badge-pill">
                    <i class="fas fa-arrow-{{ 'up' if type == 'Top Gainers' else 'down' }}"></i>
                    {{ coin['price_change_percentage_24h'] | round(2) }}%
                  </span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>


    <!-- Quick Action Buttons -->
    <section class="cta-buttons d-flex justify-content-center flex-wrap">
      <div class="d-flex justify-content-center">
        {% for action in [
          {'target': '#addAssetModal', 'icon': 'fas fa-plus-square', 'text': 'Add Asset', 'title': 'Add a new asset'},
          {'target': '#editAssetModal', 'icon': 'fas fa-edit', 'text': 'Edit Asset', 'title': 'Edit an existing asset'},
          {'target': '#setAlertsModal', 'icon': 'fas fa-bell', 'text': 'Set Alerts', 'title': 'Set price alerts'},
          {'target': '#openEditAlertsModal', 'icon': 'fas fa-trash-alt', 'text': 'Delete Alerts', 'title': 'Edit Active Alerts'}
        ] %}
        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="{{ action.target }}" title="{{ action.title }}" aria-label="{{ action.text }}">
          <i class="{{ action.icon }}"></i> {{ action.text }}
        </button>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/alerts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/edit_alerts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}
