<nav aria-label="Main navigation" role="navigation" class="navbar navbar-expand-lg navbar-dark bg-gradient shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Crypto Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% set routes = [
                    {'endpoint': 'show_portfolio', 'icon': 'fa-wallet', 'label': 'Owned'},
                    {'endpoint': 'show_unowned_cryptos', 'icon': 'fa-search', 'label': 'Watch List'},
                    {'endpoint': 'show_outliers', 'icon': 'fa-chart-line', 'label': 'Outliers'},
                    {'endpoint': 'market_data', 'icon': 'fa-exchange-alt', 'label': 'Market'}
                ] %}
                {% for route in routes %}
                <!-- Dynamic navigation links -->
                <li class="nav-item {% if request.endpoint and route.endpoint in request.endpoint %}active{% endif %}">
                    <a class="nav-link custom-link" href="{{ url_for('api.' ~ route.endpoint) }}" title="{{ route.label }}">
                        <i class="fas {{ route.icon }}"></i>{{ route.label }}
                    </a>
                </li>
                {% endfor %}

                <!-- Notification Bell -->
                <li>
                    <div id="notification-bell" aria-live="polite" aria-label="Notifications">
                        <i class="fas fa-bell"></i>
                        <span id="unread-count" class="badge"></span>
                    </div>
                </li>

                <!-- User Info (Logged in) -->
                {% if session.get('username') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello, {{ session['username'] }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" id="logout-btn">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
