{% extends "base.html" %}

{% block title %}Unowned Crypto (Top 100){% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
{% endblock %}

{% block content %}
   {% block modals %}
        {{ super() }}
        {% include 'modals/add_to_portfolio_modal.html' %}
    {% endblock %}
<div class="container">
    <h1 class="dashboard-title text-center mb-5 text-dark">Watch List (Top 100)</h1>

    <!-- Missing Cryptos List -->
    <div class="row">
        {% if missing_cryptos is none %}
            <div class="col-12 text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>
        {% elif missing_cryptos %}
            {% for crypto in missing_cryptos %}
                <article class="col-md-6 col-lg-4 mb-4">
                    <div class="card asset-card shadow-sm">
                        <div class="card-header">
                            <h5 class="card-title text-primary">
                                <img src="{{ crypto.image }}" class="crypto-logo" width="30" height="30" style="margin-right: 10px;" alt="{{ crypto.name }} logo" loading="lazy">
                                {{ crypto.name }}
                                <small class="text-muted">({{ crypto.abbreviation | upper }})</small>
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Rank:</strong> {{ crypto.rank }}<br>
                                <strong>Current Price:</strong> ${{ crypto.current_price }}<br>
                            </p>
                        </div>
                        <div class="card-footer text-right">
                            <!-- Button to trigger modal -->
                            <button class="btn btn-sm btn-outline-primary add-to-portfolio"
                                    data-id="{{ crypto.abbreviation }}"
                                    data-name="{{ crypto.name }}"
                                    aria-label="Add {{ crypto.name }} to portfolio"
                                    data-toggle="modal"
                                    data-target="#addToPortfolioModal">
                                <i class="fa fa-plus"></i> Add to Portfolio
                            </button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p class="text-dark">No missing cryptocurrencies from the top 100!</p>
        {% endif %}
    </div>
</div>



{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/add_to_portfolio.js') }}" defer></script>
{% endblock %}
